<!DOCTYPE html>
<html>
<body>
	<button onclick="run_ws()">CONNECT</button>
	<button onclick="who()">WHO</button>
	<br><br>

	<div id="chat" style="height:400px;background:black;color:white;"></div>
	<br>
	<div>
		User: <input id="user" type="text">
		Message: <input id="message" type="text">
		<button onclick="send()">SEND</button>
	</div>
	

	<script type="text/javascript">
		var chat = document.querySelector("#chat");
		var user = document.querySelector("#user");
		var message = document.querySelector("#message");
		var login = '{{current_user.login}}';
		var ws;
		setTimeout(run_ws, 500)

		function run_ws() {
			if(!ws){
				var url = 'ws://'+window.location.host+'/ws?token={{current_user.token}}';
				ws = new WebSocket(url);

				ws.onopen = function() {
					write_msg('CONNECT')
				};

				ws.onmessage = function (e) {
					console.log('MES', e.data)
					try {
						write_frmt(JSON.parse(e.data))
					}catch(err){
						write_msg(e.data)
					}
				};

				ws.onclose = function(e) {
					write_msg('CLOSED '+e.reason)
					ws = null;
				};
			}
		}

		function write_msg(msg) {
			chat.insertAdjacentHTML('beforeend', '<div>'+msg+'</div>');
		};

		function write_frmt(obj) {
			write_msg(obj.sender+'>>'+obj.recipient+' : '+obj.message)
		};

		function who() {
			var data = {cmd: 'WHO'}
			ws.send(JSON.stringify(data));
		};

		function send() {
			if (message.value){
				var recipient = user.value || 'ALL'
				var data = {
					cmd: 'MSG',
					sender: login,
					recipient: recipient,
					message: message.value
				}
				write_frmt(data)
				ws.send(JSON.stringify(data));
			}
		}
	</script>
</body>
</html>
